PORT =5000

#URL
API_URL=https://blog.vinayprabhakar.dev/api
SERVER_URL=https://blog.vinayprabhakar.dev/api
CLIENT_URL=https://blog.vinayprabhakar.dev
CORS_ORIGIN="http://10.143.123.61:5173"
MONGODB_URI="mongodb+srv://tryvinayprabhakar:<password>@cluster0.lp4pfqs.mongodb.net/?retryWrites=true&w=majority&appName=Clus>"
# JWT
JWT_SECRET =asdkljgfaolksjihgrkjlahsfd
JWT_EXPIRE=7d

NODE_ENV ='development'
CLOUDINARY_APP_NAME="cloudinary_app_name_here"
CLOUDINARY_API_KEY=cloudinary_api_key_here
CLOUDINARY_API_SECRET=cloudinary_api_secret_here


# SMTP (Email)
SMTP_HOST=smtp.mailgun.org
SMTP_PORT=587
SMTP_USER=no-reply@vinayprabhakar.dev
SMTP_PASS=smtp_password_here
SMTP_FROM="blog.vianyprabhakar.dev <no-reply@vinayprabhakar.dev>"
# Used in default no-reply address if SMTP_FROM not set
DOMAIN=blog.vinayprabhakar.dev